.footer__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    width: 100%;
    background-color: var(--todo-background);
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    color: var(--todo-secondary-fontColor)
}

.clearCompletedButton {
    &:hover {
        color: var(--todo-fontColor)
    }
}

@media screen and (max-width: 550px) {
    .footer__container {
        flex-direction: column;
        justify-content: space-between;
        padding: 15px;

        p {
            order: 1;
            padding: 15px;
        }

        .clearCompletedButton {
            margin-top: 10px;
        }
    }
}